__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/

node_modules/
**/node_modules/
.npm/

.git/
.gitignore
.gitattributes
.vscode/
.idea/
.DS_Store

build/
dist/
coverage/

.env
.env.*
*.log


